<form novalidate name="loginForm" ng-submit="login(loginForm)">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input required name="username" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input required name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>